*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
    color: white;
}

.cabecalho{
    background-color: #383D58;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-imagem{
    width: 30%;
}


.lista-item{
    display: inline-block;
    font-size: 24px;
    margin: 0 16px;
    margin-right: 100px;
}

.secao1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding:24px 0;
    font-size: 30px;
}

.secao1-div{
    width: 35%;
}

.secao1-titulo{
    padding: 24px 0;
}

.secao1-imagem{
    width: 20%;
}


.secao2{
    background-color: #d9d9d9;
    text-align: center;
    font-size: 30px;
    color: blue;
    padding: 20px 0;
    
}
.secao2-todos-estudantes{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

